button {
    margin-bottom:20px;
    
    }
    input{
         margin-left:350px;
    }
    p{
        text-align:center;
        color:blue;
        font-weight:bold;
    }
    #q{
        display:none;
        margin-left:270px;
        color:blue;
        margin-top:10px;
        font-weight:bold;
        }
        #top{
            margin-top:100px;
            border-bottom:3px blue solid;
        }
        .po{
            display:none;
        }
         #top2{
            margin-top:100px;
            border-bottom:3px blue solid;
        }
        .oof{
            display:none;
        }
        body{
            background-image:url("https://i.gifer.com/Vwy4.gif");
        }
        #ar{
            border-bottom:3px blue solid;
        }
        
        h1{
            text-align:center;
            color:blue;
        }
       